@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.slick-slider {
  width: 100% !important; /* Override any default width constraints */
}

.slick-slide {
  display: flex; /* Center slides properly */
  justify-content: center;
  width: 100%; /* Ensure each slide takes full width */
}
